$text-color: #111d26;
$underline-bg-color: #111d26;
$placeholder-active-color: #026093;
$underline-active-bg-color: #026093;
$invalid-color: #db2020;
$required-color: #db2020;
$icon-success-color: #4bb887;
$icon-fail-color: #c15353;

/*when the form background is white*/
/*$disabled-text-color: #757575;*/
$disabled-text-color: #6e6e6e;

$disabled-underline-bg-color: #cccccc;
$radio-blue: #002D56;
$background: #ffffff;
$transparent: transparent;
$shape-border: #909899;
$shape-fill: #f9f9f9;
$arrow-size: 7px;
$checkbox-blue: #002D56;
$menu-bg: #eff4f9;
$sub-menu-bg: #ffffff;
$menu-arrow-color: #276f9c;
$rating-color: #222223;
$wizard-bg: #f0f3f6;

$active-wizard-step: #026093;
$wizard-step: transparent;
$browser-focus: 2px #0078b9 solid;

$radio-default-color: #111d26;
$title-bg-color: #374f60;
$link-color: #026093;
$checkbox-border-color: #d4dee7;
$disabled-element-color: #cccccc;
$tooltip-hover-color: #026093;

$moh-blue: #026093;

