$black: #252525;
$white:#ffffff;
$footer-light-gray: #CBD5D6;
$footer-dark-gray: #BDC8C9;
$checkbox-blue:#002D56;
$radio-blue:#002D56;
$radio-gray:#909899;
$sectionTitle-gray:#bfd4d7;
$sectionTitle-blue:#4ec9e8;
$background-gray: #f1f5f6;
$toggle-blue:#002D56;
$shape-fill: #f9f9f9;
$shape-border: #909899;
$transparent: transparent;
$arrow-size: 7px;
$input-border-color: #879797;
$active-wizard-step: #4ec9e8;
/*$wizard-step: red;*/
$wizard-step: #c8d5d6;
$browser-focus: 2px #0078b9 solid;




